.flex {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
}

.gen {
    height: 20px;
    width: 100px;
}

.tab {
    border: 1px black solid;
}

.editor {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 30%;
}

#toolbar {
    width: 100%;
    height: 20%;
}

#gen {
    align-self: flex-start;
    width: 100%;
}

.select {
    align-self: flex-end;
    height: 30%;
    width: 100%;
    border: 1px black solid;
}

#numb {
    width: 90%
}

.rete {
    height: 100%;
    width: 70%;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font: 300 16px Roboto, Arial;
    overflow-x: hidden;
}


#textarea,
.textarea {
    border: 1px #000000 solid;
    padding: 12px;
    word-break: break-all;
    min-height: 20px;
    max-height: 200px;
    overflow-y: auto;
}

body,
html {
    height: 100%;
    width: 100%;
}

.obs {
    text-shadow: 6px 2px 0px;
    padding: 0 8px 0 4px;
}

.dark_red {
    color: darkred
}

.white {
    color: white
}

.black {
    color: black
}

.dark_blue {
    color: blue
}

.dark_green {
    color: green
}

.dark_aqua {
    color: darkturquoise
}

.dark_purple {
    color: purple
}

.gold {
    color: gold
}

.gray {
    color: gray
}

.dark_gray {
    color: dimgray
}

.blue {
    color: skyblue
}

.green {
    color: limegreen
}

.aqua {
    color: aqua
}

.red {
    color: indianred
}

.light_purple {
    color: deeppink
}

.yellow {
    color: yellow
}

.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.strikeThrough {
    text-decoration: line-through
}

.node .control input,
.node .input-control input {
    width: 140px;
}

.dialogue {
    background-image: url('https://i.pinimg.com/originals/44/f2/0c/44f20c3d441cf00b00cde02452254905.jpg');
    background-size: contain
}

.dialogue:hover {
    background-image: url('https://i.pinimg.com/originals/44/f2/0c/44f20c3d441cf00b00cde02452254905.jpg');
    background-size: contain;
}

.dialogue.selected {
    background-image: url('https://i.pinimg.com/originals/44/f2/0c/44f20c3d441cf00b00cde02452254905.jpg');
    background-size: contain;
}

.choose:hover {
    background-image: url('https://i.imgur.com/llrXrHX.jpg');
    background-size: contain;
}

.choose {
    background-image: url('https://i.imgur.com/llrXrHX.jpg');
    background-size: contain;
}

.choose.selected {
    background-image: url('https://i.imgur.com/llrXrHX.jpg');
    background-size: contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: coral;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background: coral;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.closeBtn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

ul#menu {
    color: black;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    border: 3px solid black;
}

ul#menu li {
    border: 1px solid black
}

ul#menu li:hover {
    background-color: darkslateblue;
    cursor: default;
}

#context-menu-container {
    display: none
}

.node {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.connection {
    width: auto;
    height: auto;
}