.obfuscated {
    text-shadow: 6px 2px 0px;
    padding: 0 8px 0 4px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.strike.underline {
    text-decoration: underline line-through;
}

.dark_red {
    color: rgb(170, 0, 0);
}

.white {
    color: white
}

.black {
    color: black
}

.dark_blue {
    color: rgb(0, 0, 170);
}

.dark_green {
    color: rgb(0, 170, 0);
}

.dark_aqua {
    color: rgb(0, 170, 170);
}

.dark_purple {
    color: rgb(170, 0, 170);
}

.gold {
    color: rgb(255, 170, 0);
}

.gray {
    color: rgb(170, 170, 170);
}

.dark_gray {
    color: rgb(85, 85, 85);
}

.blue {
    color: rgb(85, 85, 255);
}

.green {
    color: rgb(85, 255, 85);
}

.aqua {
    color: rgb(85, 255, 255);
}

.red {
    color: rgb(255, 85, 85);
}

.light_purple {
    color: rgb(255, 85, 255);
}

.yellow {
    color: rgb(255, 255, 85);
}


.bg-none {
    background-color: white;
    color: black
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-dark_blue {
    background-color: rgb(0, 0, 170);
    color: white;
}

.bg-dark_green {
    background-color: rgb(0, 170, 0);
    color: white;
}

.bg-dark_aqua {
    background-color: rgb(0, 170, 170);
    color: white;
}

.bg-dark_purple {
    background-color: rgb(170, 0, 170);
    color: white;
}

.bg-gold {
    background-color: rgb(255, 170, 0);
    color: black;
}

.bg-gray {
    background-color: rgb(170, 170, 170);
    color: black;
}

.bg-dark_gray {
    background-color: rgb(85, 85, 85);
    color: white;
}

.bg-blue {
    background-color: rgb(85, 85, 255);
    color: black;
}

.bg-green {
    background-color: rgb(85, 255, 85);
    color: black;
}

.bg-aqua {
    background-color: rgb(85, 255, 255);
    color: black;
}

.bg-red {
    background-color: rgb(255, 85, 85);
    color: white;
}

.bg-dark_red {
    background-color: rgb(170, 0, 0);
    color: white;
}

.bg-light_purple {
    background-color: rgb(255, 85, 255);
    color: black;
}

.bg-yellow {
    background-color: rgb(255, 255, 85);
    color: black;
}

#choice_color {
    font-family: 'Minecraftia';
}


font {
    color: unset
}

b {
    font-weight: normal
}

i {
    font-style: normal
}

u {
    text-decoration: none;
}