#rete {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.rete-background {
    background-image: url("../img/stone.jpg");
    z-index: -5 !important;
    image-rendering: pixelated;
}

.node {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(33, 33, 33, 0.8);
    border: 2px solid rgb(85, 85, 85);
    box-shadow: 0 0 0 1px black;
}

.node:hover {
    background: rgba(33, 33, 33, 1);
}

.node.selected {
    background: rgba(170, 127, 16, 1);
    border: 1px solid black;
    box-shadow: none;
}


.inputs {
    flex: auto;
}

.socket {
    background-color: rgb(255, 179, 38);
    border: 2px solid black;
}

.socket:hover {
    border-width: 4px;
}

.main-path {
    stroke: white !important;
    stroke-width: 2px !important;
}