

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 300 16px Roboto, Arial;
  overflow-x: hidden;
}


.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid black;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style-type: none;
  padding: 0;
}

.context-menu__item:hover {
  background-color: darkgray;
}

.context-menu__link {
  padding: 5px;
  color: black;
  text-decoration: none;
  display: block;
}




.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

